*{
    background-image: url("tourismbg.png");
    background-size: cover;
    height: 100vh;
}

.lists{
    background-color: white;
    border-radius: 10px;
    margin: 20px;
    width: 100vw;

}

.content{
    background-color: white;
    padding: 15px;
}

img{
    height: 75px;
    width: 50px;
}